<p>actualizar-c works!</p>

<div class="container">
    <div class="col" style="text-align: center"><h1>{{ title }}</h1></div>
    <br><br>
  
    <form action="" class="form-group row">
  
      <div class="form group col-md-3">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" placeholder="nombre" class="form-control" [(ngModel)]="cuadroNombre">
      </div>
  
      <div class="form group col-md-3">
        <label for="nombre">Apellido:</label>
        <input type="text" name="apellido" id="apellido" placeholder="apellido" class="form-control" [(ngModel)]="cuadroApellido">
      </div>
  
      <div class="form group col-md-3">
        <label for="nombre">Cargo:</label>
        <input type="text" name="cargo" id="cargo" placeholder="cargo" class="form-control" [(ngModel)]="cuadroCargo">
      </div>
  
      <div class="form group col-md-3">
        <label for="nombre">Salario:</label>
        <input type="text" name="salario" id="salario" placeholder="salario" class="form-control" [(ngModel)]="cuadroSalario">
      </div>
  
      <div class="col mt-1">
        <button type="submit" class="btn btn-primary mt-3 me-2" (click)="actualizaEmpleado()">Aceptar</button>
        <!--<button type="submit" class="btn btn-primary mt-3" (click)="deleteEmpleado()">Eliminar</button>-->
      </div>
  
    </form>
  </div>


<div style="text-align: center;">
    <button class="btn btn-primary" (click)="volverHome()">Volver a inicio</button>
</div>

